*.log

/plugins/*
!/plugins/*.hpi
!/plugins/*.hpi.disabled
!/plugins/*.jpi
!/plugins/*.jpi.disabled

/secret.key

jobs/*/builds/
jobs/*/configurations/
jobs/*/htmlreports/
jobs/*/javadoc/
jobs/*/lastStable
jobs/*/lastSuccessful
jobs/*/*.log
jobs/*/nextBuildNumber
jobs/*/svnexternals.txt
jobs/*/workspace*/

war/

.DS_Store
