<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>git@github.com:waveface/wammer-android-test.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant>
      <targets>clean emma instrument install test</targets>
      <properties>sdk.dir=/Users/waveface/android-sdk/android-sdk-mac_x86
test.runner=com.zutubi.android.junitreport.JUnitReportTestRunner</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>junit-report.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.emma.EmmaPublisher>
      <includes>*/coverage/coverage*.xml</includes>
      <healthReports>
        <minClass>0</minClass>
        <maxClass>100</maxClass>
        <minMethod>0</minMethod>
        <maxMethod>70</maxMethod>
        <minBlock>0</minBlock>
        <maxBlock>80</maxBlock>
        <minLine>0</minLine>
        <maxLine>80</maxLine>
      </healthReports>
    </hudson.plugins.emma.EmmaPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.android__emulator.AndroidEmulator>
      <avdName>android-2.3.3</avdName>
      <wipeData>true</wipeData>
      <showWindow>false</showWindow>
      <useSnapshots>false</useSnapshots>
      <commandLineOptions></commandLineOptions>
      <startupDelay>0</startupDelay>
      <hardwareProperties/>
    </hudson.plugins.android__emulator.AndroidEmulator>
  </buildWrappers>
</project>